{% extends "ui/panels/_base.html" %}
{% load helpers %}
{% load i18n %}

{% block panel_content %}
  <ul class="list-group list-group-flush" role="presentation">
    {% for sc in status_counts %}
      <a href="{% url 'plugins:netbox_assets:asset_list' %}?role_id={{ object.pk }}&status={{ sc.value }}" class="list-group-item list-group-item-action d-flex justify-content-between">
        {% badge sc.label bg_color=sc.color %}
        <span class="badge text-bg-primary rounded-pill">{{ sc.count }}</span>
      </a>
    {% empty %}
      <span class="list-group-item text-muted">{% trans "None" %}</span>
    {% endfor %}
  </ul>
{% endblock panel_content %}
